#outer {
  height: 100vh;
  font-family: 'Libre Baskerville' !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ececed !important;
}

#container {
  width: 650;
  height: 90vh;
  background-color: white;
  border: 5px solid rgb(64, 64, 65);
}

/* .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

h1 {
    text-align: center;
    color: rgba(252,85,85,1);
    font: italic 22px/normal Verdana, Geneva, sans-serif;
}

#qrcode {
  display: flex;
  justify-content: space-around;
}

p {
    text-align: center;
    color: gray;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
  }

.UserInput {
        display: flex;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 10px 20px;
        border: 1px solid rgba(252,85,85,1);
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font: normal 16px/normal Verdana, Geneva, sans-serif;
        color: rgba(252,85,85,1);
        -o-text-overflow: clip;
        text-overflow: clip;
        background: rgba(252,252,252,1);
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        margin: 0 auto;
}

.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid rgba(252,85,85,1);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
    color: rgba(252,85,85,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }
  
  .enjoy-css:hover {
    border: 2px solid rgb(30,205,151);
    color: rgba(255,255,255,1);
    background: rgb(30, 205, 151);
  }
  
  .enjoy-css:active {
    border: 2px solid rgba(33,224,163,1);
    background: rgba(33,224,163,1);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }